*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html { /* Your root font-size is set in your html selector */
     font-size: 62.5%; //This defines what 1rem is.
}

body {
     box-sizing: border-box;
}