.section-about {
     background-color: $color-gray-light-1;
     padding: 24rem 0;
     margin-top: -20vh;
}

.section-features {
     padding: 20rem 0;
     background-image: linear-gradient(to right bottom,
     rgba($color-gray-dark, 0.8),
     rgba($color-black, 0.8)), 
     url(../img/tech.jpg);
     background-size: cover;
     transform: skewY(-7deg);
     margin-top: -10rem;

     & > * {
          transform: skewY(7deg);
     }
}

.section-projects {
     background-color: $color-gray-light-1;
     padding: 24rem 0 15rem 0;
     margin-top: -10rem;
}